<div class="py-5 px-5 bg-light">
  <div class="container" style="margin: 0 auto">
    <div class="row">
      <div class="col-md-4 px-2" *ngFor="let video of videos">
        <div class="card mb-4 box-shadow" style="height: 450px">
          <object
            class="card-img-top"
            style="height: 225px; width: 100%; display: block"
            [data]="video.embedded"
          ></object>
          <div class="card-body" style="padding: 10px">
            <p class="title mb-2">{{ video.title }}</p>
            <p class="card-text mb-3">{{ video.description }}</p>
            <p class="card-text">
              <a [href]="video.link">{{ video.link }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 px-5 bg-light">
  <div class="container" style="margin: 0 auto">
    <div class="row">
      <div class="col-md-4 px-2" *ngFor="let photo of photos">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            [src]="photo.photolink"
            alt="A picture taken from placeholder.com"
          />
          <div class="card-body" style="padding: 10px">
            <p class="card-text mb-3">{{ photo.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
